@page
@model duendeIdentityServer.Pages.Login.Index

<div class="frame frame--auth frame--main frame--reg">
    <div class="frame__wrapper">
        <div class="frame__header">
            <div class="frame-header__wrapper">
                <div class="frame-header__title">
                    <h1 class="frame__title"><span class="caption">Вход в личный кабинет</span></h1>
                </div>                
            </div>            
        </div>

        <partial name="_ValidationSummary" />

        <div class="frame__body">

            @if (Model.View.EnableLocalLogin)
            {
                <div class="frame--auth frame--text">
                    <span>Введите адрес электронной почты и пароль</span>
                </div>
                <form class="form w-37" asp-page="/Account/Login/Index">
                    <div class="fields">
                        <div class="fields__wrapper">
                            <ul class="fields__list">
                                <li class="fields__item" data-type="text">  
                                    <label class="field field--text is--focused">
                                        <strong class="field__title">
                                            <span class="caption">Email</span>
                                        </strong>
                                        <div class="field__body">
                                            <input type="email" class="form-control" asp-for="Input.Username" autofocus>
                                        </div>                                        
                                    </label>
                                    
                                </li>
                                <li class="fields__item" data-type="text">
                                    <label class="field field--text is--empty">
                                        <strong class="field__title">
                                            <span class="caption">Пароль</span>
                                        </strong>
                                        <div class="field__body">
                                            <input type="password" class="form-control" asp-for="Input.Password" autocomplete="off">
                                        </div>                                        
                                    </label>
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                    <input type="hidden" asp-for="Input.ReturnUrl" />
                    <div class="links_block pl-1">
                        <div class="links">
                            <ul class="links__list">
                                <li class="links__item">
                                    <a asp-page="../Create/Index" class="link links__link" asp-route-returnUrl="@Model.Input.ReturnUrl">
                                        <span class="caption">Не являюсь клиентом «Колибри деньги»</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <br />
                    <div class="field is--empty">
                        <span class="caption">
                            <button name="Input.Button" value="login">Войти</button>
                        </span>
                    </div>
                </form>
            }

            @if (Model.View.VisibleExternalProviders.Any())
            {
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <h2>External Account</h2>
                        </div>
                        <div class="card-body">
                            <ul class="list-inline">
                                @foreach (var provider in Model.View.VisibleExternalProviders)
                                {
                                    <li class="list-inline-item">
                                        <a class="btn btn-secondary"
                                           asp-page="/ExternalLogin/Challenge"
                                           asp-route-scheme="@provider.AuthenticationScheme"
                                           asp-route-returnUrl="@Model.Input.ReturnUrl">
                                            @provider.DisplayName
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }

            @if (!Model.View.EnableLocalLogin && !Model.View.VisibleExternalProviders.Any())
            {
                <div class="alert alert-warning">
                    <strong>Invalid login request</strong>
                    There are no login schemes configured for this request.
                </div>
            }
        </div>
    </div>    
</div>
