<div class="page">
        <div class="page__wrapper">
            <div class="page__header">
                <header class="header">                   
                    <div class="header__wrapper">
                        <div class="header-information">
                            <div class="header-information__wrapper">
                                <div class="header-logo">
                                    <div class="header-logo__wrapper">
                                        <div class="logo">
                                            <div class="logo__wrapper">
                                                <a class="link link--logo" href="/">
                                                    <img src="~/logo.svg" />
                                                </a>
                                            </div> <span class="logo__subtitle"><span class="caption">система быстрых займов</span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </header>
            </div>
        </div>        
    </div>
