<div class="page">
        <div class="page__wrapper">
            <div class="page__header">
                <header class="header">                   
                    <div class="header__wrapper">
                        <div class="header-information">
                            <div class="header-information__wrapper">
                                <div class="header-logo">
                                    <div class="header-logo__wrapper">
                                        <div class="logo">
                                            <div class="logo__wrapper">
                                                <a class="link link--logo" href="/"><strong class="logo__title"><span class="caption">Колибри деньги</span></strong></a>
                                            </div> <span class="logo__subtitle"><span class="caption">система быстрых займов</span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </header>
            </div>
        </div>        
    </div>
@* <div class="nav-page">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a href="~/" class="navbar-brand">
            <img src="~/duende-logo.svg" class="icon-banner">
            Duende IdentityServer
        </a>

        @if (!string.IsNullOrWhiteSpace(name))
        {
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">@name <b class="caret"></b></a>
                    
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-page="/Account/Logout/Index">Logout</a>
                    </div>
              </li>
            </ul>
        }
    
    </nav>
</div> *@
